# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# os
.DS_Store

# env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log*

# firebase
/functions
