rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }
    function isEmailVerified() {
      return request.auth.token.email_verified;
    }
    // Requires a users collection or will always be false
    function doesUserExist() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    // Default nothing is allowed
    match /{document=**} {
      allow read, write: if false;
    }

    // Signed in users can do anything with messages
    match /messages/{document=**} {
      allow read, write: if isSignedIn();
    }
  }
}