rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // https://fireship.io/snippets/firestore-rules-recipes/

    function isSignedIn() {
      return request.auth != null;
    }
    function userOwnsDocument() {
      return request.auth.uid == resource.data.uid;
    }

    // Default nothing is allowed
    match /{document=**} {
      allow read, write: if false;
    }

    // Messages
    match /messages/{document=**} {
      allow create: if isSignedIn();
      allow read, update, delete: if isSignedIn() && userOwnsDocument();
    }

    // Settings
    match /settings/{document=**} {
      allow create: if isSignedIn();
      allow read, update, delete: if isSignedIn() && userOwnsDocument();
    }

    // Accounts
    match /accounts/{document=**} {
      allow create: if isSignedIn();
      allow read, update, delete: if isSignedIn() && userOwnsDocument();
    }

  }
}
