@import '../../styles/start.scss';

.card-group.competitors {
  $p-height: 2.1rem;

  .card {
    flex: initial;
    flex-grow: 1;
    border-left: solid 1px $gray-200;
    text-align: center;

    &:first-child,
    &.sir-pigglesworth,
    &.sir-pigglesworth + .card {
      border-left: 0;
    }
    &.row-headings {
      text-align: left;

      .is-section-heading {
        @extend %td;
      }
    }
    &.sir-pigglesworth {
      border-radius: $border-radius-lg;
    }
    &:not(.sir-pigglesworth) {
      background: none;
      box-shadow: none;
    }
  }
  .card-body {
    padding: 1.5em 1em;
  }
  .card-title {
    white-space: nowrap;
    height: 1.7em;
  }
  .card-description {
    line-height: 1;
    display: block;
    height: 2em;
  }
  .is-section-heading {
    height: $p-height + 1.5;
    padding-top: 1.5rem;
    border-top: solid 1px $gray-200;
    margin-top: 1rem;
  }
  .desc-icon {
    display: inline-block;
    margin-left: .5em;
    cursor: help;
    margin-top: -.1em;
  }
  p {
    // border: solid 1px red;
    margin: 0;
    height: $p-height;
  }
}
.popover-competitor-description .popover-body {
  padding: 1em 1.25em;
  max-width: 25em;
}
