@import '../../styles/start.scss';

table.competitors {
  thead th {
    text-transform: none;
    vertical-align: top;

    &.sir-pigglesworth {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: -$table-border-width * 2;
        height: 1em;
        width: calc( 100% + #{ $table-border-width * 4 } );
        background: $white;
        border-radius: 10em 10em 0 0;
        border: solid $table-border-color;
        border-width: $table-border-width $table-border-width * 2 0 $table-border-width * 2;
      }
    }
  }
  tbody {
    tr:not(.is-section-heading) {
      th {
        @extend %remove-th-styles;
      }
      th,
      td {
        border-top: 0;
        padding-top: 0;
      }
    }
    tr:last-child {
      td.sir-pigglesworth {
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: -$table-border-width * 2;
          height: 1em;
          width: calc( 100% + #{ $table-border-width * 4 } );
          background: $white;
          border-radius: 0 0 10em 10em;
          border: solid $table-border-color;
          border-width: 0 $table-border-width * 2 $table-border-width $table-border-width * 2;
        }
      }  
    }
  }
  th,
  td {
    padding-top: $table-cell-padding * 1.5;
    padding-bottom: $table-cell-padding * 1.5;
    vertical-align: middle;
    white-space: nowrap;

    &:not(:first-child) {
      text-align: center;
      border-left: solid $table-border-width * 2 $table-border-color;
    }
    &.sir-pigglesworth {
      background-color: $white;
    }
    svg {
      display: inline-block;
      margin-left: .5em;
      cursor: help;
      margin-top: -.1em;
    }
  }
}
