@import '../../../styles/start.scss';

.heading-subheading {
  display: flex;
  align-items: baseline;

  .heading {
    margin-bottom: .15em;
  }
  .subheading {
    margin: 0 0 0 $spacer * .5;
  }
}
