
:root {
  --body-bg: #{$body-bg};
  --body-color: #{$body-color};
  @each $name, $color in $grays {
    --gray-#{$name}: #{$color};
  }
  @each $name, $color in $theme-colors {
    .btn-#{$name} {
      background-color: var(--#{$name});
    }
  }
}
