@import 'start';

.app-header ~ main {
  @media ( max-width: $app-ui-breakpoint - 1 ) {
    padding-top: $app-header-height-sm;
  }
  @media ( min-width: $app-ui-breakpoint ) {
    padding-left: $app-header-width-md;
  }
}
.app-header ~ .app-nav ~ main {
  @media ( max-width: $app-ui-breakpoint - 1 ) {
    padding-top: $app-header-height-sm;
    padding-bottom: $app-nav-height-sm;
  }
  @media ( min-width: $app-ui-breakpoint ) {
    padding-left: $app-header-width-md + $app-nav-width-md;
  }
}
section {
  padding: $spacer 0;
}
.center-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
