@import '../../styles/start';

.page-style-guide {
  .buttons .btn,
  .badges .badge,
  .color {
    margin: 0 .5em .5em 0;
  }
}
.color-blocks {
  columns: 10em;

  .color {
    display: block;
    
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .color-block {
    width: $spacer;
    height: $spacer;
    margin-right: 1em;
  }
  .color-details {
    line-height: 1;
  }
}
