@import '../../styles/start.scss';

.page-settings {
  .row {
    margin-top: $spacer;
    align-items: flex-start;
  }
  [class^=col]:first-child {
    @include media-breakpoint-down(sm) {
      padding-bottom: $spacer;
    }
    @include media-breakpoint-up(md) {
      border-right: solid 1px $gray-200;

      .container {
        padding-right: 0;
      }
      }
  }
}
