@import '../../styles/start.scss';

.account-card {
  .badge {
    margin-left: -.25em;
  }
  .name {
    margin: 0;
    font-family: $font-family-sans-serif;
    font-weight: bold;
  }
  .bank {
    margin-top: .4em;
  }
  .description {
    margin-top: .5em;
  }
  .area-chart {
    height: 5em;
    width: calc(100% + #{$card-account-spacer * 2});
    margin: $card-account-spacer * .75 (-$card-account-spacer);
  }
  .currency {
    margin-left: auto;
    width: auto;
  }
}
