@import '../../styles/start.scss';

$card-account-spacer: $spacer * .5;

.accounts-rows {
  .total {
    margin: 0 $card-account-spacer 0 0;
    text-align: right;

    .currency {
      display: inline-block;
      font-size: 1.5em;
    }
  }
}
.account-row {
  .card-body {
    display: flex;
    align-items: center;
  }
  .flex-item {
    padding: 0 $card-account-spacer / 2;
    // order: 1;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .name-bank {
    width: 9em;
  }
  .bank {
    display: block;
  }
  .type {
    width: 7em;
  }
  .area-chart {
    flex-grow: 1;
    align-self: stretch;
    margin: -$card-account-spacer $card-account-spacer * .5;
  }
  @include media-breakpoint-down(md) {
    .card-body {
      flex-wrap: wrap;
    }
    .type {
      flex-grow: 1;
    }
    .area-chart {
      width: 100%;
      order: 99;
      align-self: initial;
      height: 3em;
      margin: $card-account-spacer 0 (-$card-account-spacer) 0;
    }
  }
  @include media-breakpoint-down(sm) {
    $currency-width: 4.8em;

    .card-body {
      padding-top: $card-account-spacer * .9;
    }
    .flex-item {
      padding: 0;
      order: 3;
    }
    .name-bank,
    .currency {
      align-self: baseline;
    }
    .name-bank {
      order: 1;
      width: calc(100% - #{$currency-width * 1.2})
    }
    .type {
      margin: .5em 0 0 -.25em;
    }
    .currency {
      order: 2;
      width: $currency-width;
    }
  }
}
