@import '../../styles/start';

section.sign-in {
  .card {
    max-width: 20em;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      margin-top: 15%;
    }
  }
  .btn {
    display: block;
    width: 100%;
    margin: 1em 0;
  }
}
